body{
    background: url("/static/images/bag2.jpg") no-repeat;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:cover;
    background-size:cover;
}

.userInfo{
    float: right;
}

.panel{
    margin-left: auto;
    margin-right: auto;
}