body{
    background: url("../../images/bag2.jpg") no-repeat;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:cover;
    background-size:cover;
}

.userInfo{
    float: right;
}

.panel{
    margin-left: auto;
    margin-right: auto;
}

.row .caption p{
    font-size: 12px;
}

.row .thumbnail a{
    display: inline-block;
    float: left;
}

.searchForm select{
    height:34px;
    min-width: 100px;
}
